/* app css stylesheet */

.inline-block {
  display: inline-block;
}

.align-baseline {
  vertical-align: baseline;
}

.btn-xlg {
  font-size: 48px;
}

.btn-iconic {
  line-height: 0;
  padding: 0;
}
