<ng-container *ngIf="(todos | async)">
  <div class="row">
    <div class="col-md-12">
      <input [(ngModel)]="searchQuery" [disabled]="!((todos | async).length > 0)"
             class="form-control"
             name="searchQuery" type="text" size="32" placeholder="Search tasks...">
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h4>Tasks</h4>

      <p [ngSwitch]="(todos | async).length">
        <span *ngSwitchCase="0">No tasks added yet...</span>
        <!--TODO: [1;1] Get rid of case like `N of N remaining'-->
        <span *ngSwitchDefault>You have {{(remaining | async)}} tasks of {{(todos | async).length}} remaining</span>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <ng-container *ngIf="(todos | async).length > 0">
        <ng-container [ngSwitch]="(todos | async | filter: searchQuery).length">
          <p *ngSwitchCase="0">(no search results for query "{{searchQuery}}")</p>

          <table *ngSwitchDefault
                 class="table table-striped table-hover table-condensed">
            <tbody>
              <tr *ngFor="let todo of todos | async | filter: searchQuery"
                  [ngClass]="{'success': todo.done, 'warning': shouldNotify(todo)}">
                <td>
                  <input [checked]="todo.done" (change)="onChangeTodoDone($event, todo)"
                         type="checkbox">
                  <span>{{todo.text}}</span>
                </td>
              </tr>
            </tbody>
          </table>
        </ng-container>
      </ng-container>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <button *ngIf="(todos | async).length - (remaining | async) > 0" (click)="onClickDone()"
              class="btn btn-success">
        Done <span class="badge">{{(todos | async).length - (remaining | async)}}</span>
      </button>
    </div>
  </div>
</ng-container>
